VITE_FIREBASE_API_KEY=your_api_key
VITE_FIREBASE_AUTH_DOMAIN=avantepro-a1438.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=avantepro-a1438
VITE_FIREBASE_STORAGE_BUCKET=avantepro-a1438.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=1021086872393
VITE_FIREBASE_APP_ID=your_web_app_id
